node_modules
.runtime/
.next
prisma/dev.db
prisma/dev.db-journal
public/uploads/*
!public/uploads/.gitkeep
work/
.env*.local
.env*
!.env.example
outputs/
*.tsbuildinfo
*.log
prisma/*.db*
*.zip
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[pP][nN][gG]
*.[wW][eE][bB][pP]
*.[hH][eE][iI][cC]
*.[mM][pP]4
*.[mM][oO][vV]
*.[mM][pP]3
*.[wW][aA][vV]
*.pem
*.key
*.p12
*.pfx
*.bundle
*.tar.gz
